.App {
  text-align: center;
}

.togglebtn{
  background-color: teal;
  padding: 6px 15px;
  border: 2px solid black;
  margin-top: 25px;
}


.addstudent{
  border: 2px solid black;
  width: 40%;
  margin: auto;
  padding: 15px;
  margin-top: 25px;
}

.controls{
 
  width: 70%;
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;

}

.table{
  border: 2px solid black;
  width: 70%;
  margin: auto;
  margin-top: 20px;

}